body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style-type: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  min-height: calc(100vh - 70px - 64px);
  padding: 1rem;
}

.goods {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.progress {
  background-color: #f48fb1;
}

.progress .indeterminate {
  background-color: #e4f0ef;
}

.card-action span {
  font-size: 1.6rem;
  font-weight: 600;
}

.card-content {
  min-height: 110.5px;
}

.cart {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  z-index: 9;
  padding: 1rem;
}

.delete-item {
  cursor: pointer;
  color: #f48fb1;
}

.btn {
  background-color: #ec407a;
}

.basket-list {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 100%;
  max-width: 50%;
  animation: show 500ms ease-in-out;
}

.close-cart {
  cursor: pointer;
}

.cart-quantity {
  cursor: pointer;
  vertical-align: middle;
}



@media (min-width: 767px) {
  .cart {
    top: 5rem;
    bottom: unset;
  }
}

@keyframes show {
  from {
    top: 70%;
    opacity: 0;
  }

  to {
    top: 50%;
    opacity: 1;
  }
}